$dark-primary: #eeeeff;
$dark-secondary: #ffffff;
$dark-background: #000044;
$dark-highlight: #2c2c5f;

$light-primary: #000044;
$light-secondary: #202000;
$light-background: #ddddff;
$light-highlight: #eeeeff;
